body {
    margin: 0;
    font-family: arial;
    background-color: #f9ffd5;
}
.container {
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------*/
.sec-banner {
    background-image: url(../img/background-htmlcss.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.sec-dominio-hospedagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #f9ffd5;
}
.sec-teste-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.sec-calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: #80808057;
    text-align: center;
}
#box-opcoes {
    padding: 5px;
    width: 180px;
    text-align: center;
}
.group-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.group-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.input-box {
    padding: 5px;
    background-color: #dddddd;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}
.button {
    padding: 5px;
    width: 100%;
    background-color: #9eceff;
    border-style: solid;
    border-width: 1px;
}
.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
    opacity: 0.4;
    padding-bottom: 200px;
}
.title-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.title {
    font-size: 45px;
}
#button-interaja {
    background-color: rgb(92, 92, 92);
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
