body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: arial;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.rascunho {
    font-size: 35px;
}
/*-----------------------------------------------------------------------------------------------------------*/
.menu {
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 11;
    background: #3f3fff;
    filter: drop-shadow(0px -1px 5px black);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu .container {
    height: 110px;
    display: flex;
    align-items: center;
}
.menu-content {
    height: 110px;
    display: flex;
    align-items: center;
    gap: 220px;
}
.icon-config {
    width: 120px;
}
.group-items-inline {
    display: flex;
    align-items: center;
    gap: 20px;
}
.link-style {
    color: white;
    text-decoration: none;
    transition: all 400ms ease;
}
.link-style:hover {
    color: #3f3fff;
    background: white;
    border-width: 2px;
    border-style: solid;
    padding: 12px;
    border-radius: 30px;
}
#btn-login {
    color: white;
    text-decoration: none;
    background: #3f3fff;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    transition: all 400ms ease;
}
#btn-login:hover {
    background: white;
    color: #3f3fff;
}
#btn-cadastro {
    color: #3f3fff;
    text-decoration: none;
    background: white;
    border-width: 2px;
    border-style: solid;
    padding: 12px;
    border-radius: 30px;
    transition: all 400ms ease;
}
#btn-cadastro:hover {
    background: #3f3fff;
    color: white;
}
.sec-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}
.carrossel-banner {
    margin: 0 auto;
    width: 1000px;
    height: 560px;
    overflow: hidden;
}
.slides {
    width: 900%;
    height: 560px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
}
.slide img {
    width: 1000px;
    height: 560px;
}
.manual-navigation {
    position: absolute;
    width: 1000px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 400ms ease;
}
.manual-btn:hover {
    background: white;
}
#radio-1:checked ~ .first {
    margin-left: 0;
    transition: 400ms;
}
#radio-2:checked ~ .first {
    margin-left: -25%;
    transition: 400ms;
}
#radio-3:checked ~ .first {
    margin-left: -50%;
    transition: 400ms;
}
#radio-4:checked ~ .first {
    margin-left: -75%;
    transition: 400ms;
}
.sec-produtos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    height: 98dvh;
}
.carrossel-cat {
    position: relative;
}
.titulo-carrossel {

}
.btn-back {
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    background: white;
    padding: 8px;
    display: flex;
    width: 24px;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 10;
    position-area: right;
}
.btn-next {
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    background: white;
    padding: 8px;
    display: flex;
    width: 24px;
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 10;
    position-area: left;
}
.group-produtos {
    display: grid;
    grid-template-areas: 'g1 g2 g3 g4 g5 g6 g7 g8 g9';
    gap: 25px;
    overflow: hidden;
    position: relative;
}
.group-produtos > .produto:nth-child(1) {
    grid-area: g1;
}
.group-produtos > .produto:nth-child(2) {
    grid-area: g2;
}
.group-produtos > .produto:nth-child(3) {
    grid-area: g3;
}
.group-produtos > .produto:nth-child(4) {
    grid-area: g4;
}
.group-produtos > .produto:nth-child(5) {
    grid-area: g5;
}
.group-produtos > .produto:nth-child(6) {
    grid-area: g6;
}
.group-produtos > .produto:nth-child(7) {
    grid-area: g7;
}
.group-produtos > .produto:nth-child(8) {
    grid-area: g8;
}
.group-produtos > .produto:nth-child(9) {
    grid-area: g9;
}
.produto {
    
}
.img-cat {
    width: 200px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 98dvh;
}